<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div id="my_camera"></div>
  <input type=button value="Take Snapshot" onClick="take_snapshot()">
  <div class="field">
    <%= f.hidden_field :profile_photo %>
    <%= f.label :profile_photo %>: <br />
    <div id="results">Your captured image will appear here...</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>